services:
  mailserver:
    image: ghcr.io/docker-mailserver/docker-mailserver:latest
    container_name: mailserver
    # FQDN of your mail server (Your DNS MX record should point to this value)
    hostname: mail.sohanfahad.dev
    ports:
      - "25:25"    # SMTP
      - "587:587"  # SMTP Submission
      - "465:465"  # SMTP Submission (SSL)
      - "143:143"  # IMAP
      - "993:993"  # IMAP (SSL)
    volumes:
      - ./docker-data/dms/mail-data/:/var/mail/
      - ./docker-data/dms/mail-state/:/var/mail-state/
      - ./docker-data/dms/mail-logs/:/var/log/mail/
      - ./docker-data/dms/config/:/tmp/docker-mailserver/
      - /etc/localtime:/etc/localtime:ro
    environment:
      - ENABLE_FAIL2BAN=1
      # Using letsencrypt for SSL/TLS certificates
      - SSL_TYPE=letsencrypt
      # Allow sending emails from other docker containers
      - PERMIT_DOCKER=network
      # Spoof protection
      - SPOOF_PROTECTION=0
      # Additional recommended settings
      - ENABLE_SPAMASSASSIN=1
      - ENABLE_CLAMAV=1
      - ENABLE_POSTGREY=1
      - ONE_DIR=1
      - DMS_DEBUG=0
    cap_add:
      - NET_ADMIN # For Fail2Ban to work
    restart: always

